# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


01-Contador/node_modules/
01-Contador/build/

02-Tareas/node_modules/
02-Tareas/build/

03-Pokeapp/node_modules/
03-Pokeapp/build/

04-Pipesapp/node_modules/
04-Pipesapp/build/

05-RxJS-directivas/node_modules/
05-RxJS-directivas/build/

06-Formularios/node_modules/
06-Formularios/build/

07-SassApp/node_modules/
07-SassApp/build/

08-Portafolio/node_modules/
08-Portafolio/build/