<div class="row">
  <div class="col-12 col-md-6">
    <h1>Pipes de textos</h1>
    <hr>

    <app-texto></app-texto>
  </div>
  <div class="col-12 col-md-6">
    <h1>Pipes de números</h1>
    <hr>

    <app-numero></app-numero>
  </div>
  <div class="col-12 col-md-6">
    <h1>Pipes de fechas</h1>
    <hr>
    <app-fecha></app-fecha>
  </div>


  <div class="col-12 col-md-6">
    <h1>Pipes de JSON</h1>
    <hr>
    <app-json></app-json>
  </div>

  <div class="col-12 col-md-6">
    <h1>Pipes de Key Value</h1>
    <hr>
    <app-key-value></app-key-value>
  </div>
  <div class="col-12 col-md-6">
    <h1>Pipes de Slice</h1>
    <hr>
    <app-slice></app-slice>
  </div>
</div>