<form class="form-group container" (ngSubmit)="agregar()" #miFormulario="ngForm">

  <div class="mb-3">
    <label for="proyecto">Proyecto</label>
    <input autocomplete="off" class="form-control" type="text" id="proyecto" placeholder="Nombre proyecto" ngModel
      name="proyecto">
  </div>

  <div class="mb-3">
    <label for="horas">Horas</label>
    <input class="form-control" type="number" id="horas" placeholder="Horas a Completar">
  </div>
  <div class="mb-3">
    <div class="row">
      <label for="tecnologias">Proyecto</label>
      <div class="col-12 col-md-8">
        <input autocomplete="off" class="form-control" type="text" id="tecnologias"
          placeholder="Nombre de la tecnología">
      </div>
      <div class="col-12 col-md-4">
        <button class="btn btn-success">Agregar</button>
      </div>
    </div>

  </div>

  <div class="mb-3">
    <button class="btn btn-warning" type="submit">Agregar Proyecto</button>
  </div>
</form>