<form
  class="form-group container"
  (ngSubmit)="agregar()"
  #miFormulario="ngForm"
>
  <div
    *ngIf="!miFormulario.valid"
    class="alert alert-danger d-flex align-items-center"
    role="alert"
  >
    <div>
      <i class="bi bi-exclamation-triangle-fill"></i>
      Formulario invalido
    </div>
  </div>

  <div class="mb-3">
    <label for="proyecto">Proyecto</label>
    <input
      autocomplete="off"
      class="form-control"
      type="text"
      id="proyecto"
      placeholder="Nombre proyecto"
      ngModel
      name="proyecto"
      minlength="3"
      maxlength="6"
      required
    />
  </div>

  <div class="mb-3">
    <label for="horas">Horas</label>
    <input
      class="form-control"
      type="number"
      id="horas"
      placeholder="Horas a Completar"
      ngModel
      name="horas"
      required
      min="0"
      max="25"
    />
  </div>
  <div class="mb-3">
    <div class="row">
      <label for="tecnologias">Proyecto</label>
      <div class="col-12 col-md-8">
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="tecnologias"
          placeholder="Nombre de la tecnología"
        />
      </div>
      <div class="col-12 col-md-4">
        <button class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn btn-warning" type="submit">Agregar Proyecto</button>
  </div>
</form>
<pre>
  Proyecto: {{ miFormulario.value | json }}
  valido: {{ miFormulario.valid }}
  Errors: {{ miFormulario.controls["horas"].errors | json }}
</pre>
