<form class="form-group" autocomplete="off">

  <div class="mb-3">

    <label for="proyecto">Proyecto</label>
    <input class="form-control" type="text" id="proyecto" placeholder="Nombre proyecto">
  </div>

  <div class="mb-3">
    <label for="horas">Horas</label>
    <input class="form-control" type="number" id="horas" placeholder="Horas a Completar">
  </div>
  <div class="mb-3">
    <label for="tecnologias">Proyecto</label>
    <input class="form-control" type="text" id="tecnologias" placeholder="Nombre de la tecnología">

  </div>

  <div class="mb-3">
    <button class="btn btn-warning" type="submit">Agregar Proyecto</button>
  </div>
</form>